.race-area {
  flex-grow: 4;
  background-color: red;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.wpm {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  background-color: white;
  color: black;
  height: 30px;
  width: 70px;
}

.attribution {
  position: absolute;
  background-color: #fffc;
  padding: 3px;
}

.race-track {
  width: 100%;
}

.racer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: white;
}
