.game {
  position: relative;
  height: 80vh;
  width: 80vw;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fcfcfc;
}

.ball {
  border-radius: 100%;
}

.score {
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  color: grey;
  transition: color 0.2s
}

.flash {
  color: red;
}
