<div class='columns'>
  <div class='column is-three-fifths is-offset-one-fifth'>
    <div class='card'>
      <div class='card-image'>
        <figure class='image'>
          <img src="{{ pic.imgUrl }}"/>
          <button class='delete is-large'
            ng-style='{position: "absolute", right: "5%", top: "5%"}'></button>
        </figure>
      </div>
      <div class='card-content'>
        <p class='title is-4'>{{ pic.title }}</p>
        <div class='content'>{{ pic.addedOn }}</div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
